.nineforty-banner
  width: 940px
  height: 120px
  @include banners

.sixtwenty-banner
  width: 620px
  height: 120px
  @include banners

.small-banners
  width: 128px
  height: 128px
  @include banners
  margin: 0
