.nineFortyBanner
  width: 940px
  height: 120px
  margin-top: 16px
  background-color: #FFFFFF
  border: 1px solid #D7D7D7
  box-sizing: border-box

  p
    font-family: 'Varela Round', sans-serif
    font-weight: normal
    font-size: 14px
    line-height: 17px
    display: flex
    align-items: flex-end
    text-align: center
    color: #999999
    padding: 42px 426px 47px 426px

.sixTwentyBanner
  width: 620px
  height: 120px
  background-color: #FFFFFF
  border: 1px solid #D7D7D7
  box-sizing: border-box
  margin-top: 19px

  p
    font-family: 'Varela Round', sans-serif
    font-weight: normal
    font-size: 14px
    line-height: 17px
    display: flex
    align-items: flex-end
    text-align: center
    color: #999999
    padding: 41px 267px 47px 266px
