$categoryBackground: #4D4382
$active: #299EC3

@mixin text-box
  display: flex
  flex-direction: column
  padding: 0 20px
  justify-content: center

.categories-wrap
  background: $categoryBackground

  .categories
    max-width: 940px
    margin: 0 auto
    width: 100%

    .category-links
      display: flex
      flex-direction: row

      .inline
        text-align: center
        left: 0

      .news-div
        background: $active
        padding: 15px 21px 14px 20px

      .business-div
        display: flex

        .business-text-box
        @include text-box
        border-bottom: 4px solid #EE6151

      .sport-div
        display: flex

        .sport-text-box
        @include text-box
        border-bottom: 4px solid #84C14F

      .life-div
        display: flex

        .life-text-box
          @include text-box
          border-bottom: 4px solid #5DCFF3

      .tech-div
        display: flex

        .tech-text-box
          @include text-box
          border-bottom: 4px solid #FCC44D

      .travel-div
        display: flex

        .travel-text-box
          @include text-box
          border-bottom: 4px solid #A99765

      a
        @include bitter-bold
        text-transform: uppercase
        text-decoration: none
