footer
   height: 992px
   border-top: 23px solid $purple
   margin-top: 19px
   background: #252525
   overflow: hidden

   h2
      @include bitter-bold
      font-size: 24px
      line-height: 29px
      color: $lightGray

   .footer-content-container
      max-width: 940px
      width: 100%
      margin: 0 auto

      .upper-footer-container
         margin-top: 50px
         height: 735px
         display: grid
         grid-template-columns: 300px 300px 300px
         grid-gap: 23px

         .kenaz
            max-height: 174px
            height: 100%

         .footer-logo
            position: absolute
            max-width: 28px
            max-height: 43px
            width: 100%
            height: 100%
            background: url('../assets/footerLogo.png') no-repeat

         .footer-heading
            position: absolute
            color: #45B0E3
            margin-left: 48px

            h2
               font-family: $bitter
               font-weight: normal
               font-size: 29.623px
               line-height: 52px
               color: #45B0E3

         .kenaz-text
            max-width: 303px
            max-height: 40px
            width: 100%
            height: 100%
            margin-top: 60px

         p
            @include bitter-bold
            font-size: 14px
            line-height: 20px
            color: $grayish

         .socials
            margin-top: 27px

            i
               max-width: 18px
               max-height: 18px
               width: 100%
               height: 100%
               color: $white
               padding: 10px

         .socials:hover
            cursor: pointer

         .rss
            max-width: 38px
            height: 38px
            width: 100%
            background: #F8BC2E
            display: inline-block

         .facebook
            max-width: 38px
            height: 38px
            width: 100%
            background: #39599F
            display: inline-block

         .twitter
            max-width: 38px
            height: 38px
            width: 100%
            background: #45B0E3
            display: inline-block

         .dribble
            max-width: 38px
            height: 38px
            width: 100%
            background: #D97AA5
            display: inline-block

         .linkedin
            max-width: 38px
            height: 38px
            width: 100%
            background: #65B7D2
            display: inline-block

         .youtube
            max-width: 38px
            height: 38px
            width: 100%
            background: #E70031
            display: inline-block

         .skype
            max-width: 38px
            height: 38px
            width: 100%
            background: #00C6FF
            display: inline-block

         .newsletter
            max-height: 174px
            height: 100%

         .newsletter-heading
            margin-top: 6px

         .newsletter-text
            margin-top: 25px

         p
            @include bitter-normal

         .text
            max-width: 190px
            width: 100%

         .form
            margin-top: 25px

         .email
            background: #333333
            padding: 0 15px
            border: none
            color: $white
            height: 53px
            max-width: 193px
            width: 100%

            &::placeholder
               @include varela-normal-bigger

         .email:focus
            outline: none

         @include footer-subscribe-button

         .tags-widget
            height: 174px

            .tags-widget-heading
               margin-top: 6px

            h2
               @include bitter-bold
               font-size: 24px
               line-height: 29px
               color: $lightGray

            .button-tags
               margin-top: 25px
               width: 100%

               @include footer-tags-button

         .featured, .random-posts
            max-height: 364px
            height: 100%

            .row
               max-height: 115px
               height: 100%
               position: relative

               .caption-container
                  margin-top: 25px
                  max-width: 214px
                  max-height: 52px
                  width: 100%
                  height: 100%
                  position: relative

                  h4
                     @include varela-normal
                     font-size: 10px
                     line-height: 12px
                     color: $grayish

                  .comments-container
                     position: absolute
                     top: 0px
                     right: 14px

                  a
                     text-decoration: none

                  p
                     @include bitter-normal
                     font-size: 15px
                     color: $lightGray

               .image-container
                  max-width: 70px
                  max-height: 70px
                  width: 100%
                  height: 100%
                  position: absolute
                  top: 20px
                  left: 220px

                  img
                     border: 2px solid $white

            hr
               max-width: 303px
               max-height: 2px
               width: 100%
               height: 100%
               margin-top: 41px
               margin-left: 12px
               margin-right: 12px
               background: $grayish
               opacity: 0.2

         .twitter-feed
            max-height: 364px
            height: 100%

            .row
               max-height: 115px
               height: 100%
               position: relative
               margin: 0

               .caption-container
                  margin-top: 15px
                  max-height: 54px
                  height: 100%
                  position: relative
                  display: inline
                  padding: 0

                  i
                     max-width: 24px
                     max-height: 18px
                     width: 100%
                     height: 100%
                     color: #45B0E3
                     margin: 0
                     padding: 0
                     display: inline

                  h4
                     @include bitter-normal
                     line-height: 16px
                     margin: 0
                     padding: 0
                     display: inline
                     margin-left: 4px

                  p
                     @include varela-normal
                     font-size: 13px
                     line-height: 18px
                     color: $lightGray

      .bottom-hr
         height: 2px
         background: $grayish
         margin: 0
         padding: 0
         width: 200%
         margin-left: -50%

      .lower-footer-container
         max-height: 36px
         height: 100%
         margin-top: 18px
         color: $gray
         display: flex
         flex-direction: row
         justify-content: space-between
