footer
   height: 992px
   border-top: 23px solid #4D4382
   margin-top: 19px
   background: #252525

   h2
      font-family: $bitter
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 29px
      color: #CCCCCC

   .footerContentContainer
      width: 940px
      margin: 0 auto

      .upperFooterContainer
         margin-top: 50px
         height: 735px
         display: grid
         grid-template-columns: 300px 300px 300px
         grid-gap: 23px

         .kenaz
            height: 174px

         .footerLogo
            position: absolute
            width: 28px
            height: 43px
            background: url('../assets/footerLogo.png') no-repeat

         .footerHeading
            position: absolute
            color: #45B0E3
            margin-left: 48px

            h2
               font-family: $bitter
               font-weight: normal
               font-size: 29.623px
               line-height: 52px
               color: #45B0E3

         .kenazText
            width: 303px
            height: 40px
            margin-top: 60px

         p
            font-family: $bitter
            font-style: normal
            font-weight: bold
            font-size: 14px
            line-height: 20px
            color: #666666

         .socials
            margin-top: 17px

         i
            width: 18px
            height: 18px
            color: #FFFFFF
            padding: 10px

         .rss
            width: 38px
            height: 38px
            background: #F8BC2E
            display: inline-block

         .facebook
            width: 38px
            height: 38px
            background: #39599F
            display: inline-block

         .twitter
            width: 38px
            height: 38px
            background: #45B0E3
            display: inline-block

         .dribble
            width: 38px
            height: 38px
            background: #D97AA5
            display: inline-block

         .linkedin
            width: 38px
            height: 38px
            background: #65B7D2
            display: inline-block

         .youtube
            width: 38px
            height: 38px
            background: #E70031
            display: inline-block

         .skype
            width: 38px
            height: 38px
            background: #00C6FF
            display: inline-block

         .newsletter
            height: 174px

         .newsletterHeading
            margin-top: 6px

         .newsletterText
            margin-top: 25px

         p
            font-family: $bitter
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 20px
            color: #666666

         .text
            width: 190px

         .email
            background: #333333
            padding: 15px 70px 20px 20px
            border: none
            color: #FFFFFF

            &::placeholder
               font-family: $varela
               font-style: normal
               font-weight: normal
               font-size: 16px
               line-height: 19px
               color: #999999

         .email:focus
            outline: none

         .subscribeButton
            width: 110px
            height: 59px
            font-family: $varela
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 19px
            background: #4D4382
            border: none
            color: #CCCCCC

         .tagsWidget
            height: 174px

            .tagsWidgetHeading
               margin-top: 6px

            h2
               font-family: $bitter
               font-style: normal
               font-weight: bold
               font-size: 24px
               line-height: 29px
               color: #CCCCCC

            .buttonTags
               margin-top: 25px
               width: 100%

               button
                  font-family: $varela
                  font-style: normal
                  font-weight: normal
                  font-size: 12px
                  line-height: 20px
                  height: 28px
                  width: auto
                  padding: 5px 10px
                  background: #333333
                  color: #CCCCCC
                  margin: 1px
                  border: none

               button:hover
                  background: #4D4382

         .featured, .randomPosts
            height: 364px

            .row
               height: 115px
               position: relative

               .captionContainer
                  margin-top: 25px
                  width: 214px
                  height: 52px
                  position: relative

                  h4
                     font-family: $varela
                     font-style: normal
                     font-weight: normal
                     font-size: 10px
                     line-height: 12px
                     color: #666666

                  .commentsContainer
                     position: absolute
                     top: 0px
                     right: 14px

                  p
                     font-family: $bitter
                     font-style: normal
                     font-weight: normal
                     font-size: 15px
                     line-height: 20px
                     color: #CCCCCC

               .imageContainer
                  width: 70px
                  height: 70px
                  position: absolute
                  top: 20px
                  left: 220px

                  img
                     border: 2px solid #FFFFFF

            hr
               width: 303px
               height: 2px
               margin-top: 41px
               margin-left: 12px
               margin-right: 12px
               background: #666666
               opacity: 0.2

         .twitterFeed
            height: 364px

            .row
               height: 115px
               position: relative
               margin: 0

               .captionContainer
                  margin-top: 15px
                  height: 54px
                  position: relative
                  display: inline
                  padding: 0

                  i
                     width: 24px
                     height: 18px
                     color: #45B0E3
                     margin: 0
                     padding: 0
                     display: inline

                  h4
                     font-family: $bitter
                     font-style: normal
                     font-weight: normal
                     font-size: 14px
                     line-height: 16px
                     color: #666666
                     margin: 0
                     padding: 0
                     display: inline
                     margin-left: 4px

                  p
                     font-family: $varela
                     font-style: normal
                     font-weight: normal
                     font-size: 13px
                     line-height: 18px
                     color: #CCCCCC

      .bottomHr
         height: 2px
         background: #666666
         margin: 0
         padding: 0

      .lowerFooterContainer
         height: 36px
         margin-top: 18px
         color: #999999
         display: flex
         flex-direction: row
         justify-content: space-between
