$headerBackground: #252525
$arrowBackground: #FFFFFF

header
  background: $headerBackground

  .main-nav
    width: 940px
    height: 53px
    margin: 0 auto
    position: relative

    a
      text-decoration: none
      color: $arrowBackground

    .logo
      position: absolute
      width: 142px
      height: 53px
      left: 0

      .arrow
        position: absolute
        width: 63px
        height: 53px
        background: rgba(255,255,255,0.05)

        .arrow-icon
          position: absolute
          width: 14px
          height: 21px
          margin-left: 23px
          margin-top: 15px
          background: url('../assets/headerarrow.png') no-repeat

      h2
        position: absolute
        margin-top: 16.5px
        margin-left: 72px
        font-family: $bitter
        font-weight: normal
        font-size: 24px
        line-height: 27px

    .sub-nav
      position: absolute
      right: 0
      height: 100%
      display: grid
      grid-template-columns: 350px 60px

      .nav-links-container
        padding-top: 15px
        overflow: hidden

        .nav-links
          list-style: none

          li
            display: inline-block
            padding: 0 20px

            a
              font-family: $varela
              font-size: 14px
              line-height: 27px
              color: $arrowBackground
              text-decoration: none

      .search
        right: 0
        background: yellow
        height: 100%
        width: 60px
        position: absolute
        width: 62px
        height: 53px
        background: rgba(255,255,255,0.05)

      .search-icon
        position: absolute
        width: 16px
        height: 16px
        margin-left: 23px
        margin-top: 18px
        background: url('../assets/searchicon.png') no-repeat

      .searchicon:hover
        cursor: pointer

.togglesearch
  background: #252525
  position: absolute
  top: 70px
  right: 5%
  width: 350px
  height: 60px
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  border-top: 4px solid #252525
  display: none

  &:before
    content: ""
    position: absolute
    top: -32px
    right: 13px
    border-left: 12px solid transparent
    border-right: 12px solid transparent
    border-top: 14px solid transparent
    border-bottom: 14px solid #252525

  & input[type="text"]
    width: 200px
    padding: 5px 10px
    margin-left: 23px
    margin-top: 4px
    border: 1px solid #252525
    outline: none

  & input[type="button"]
    width: 80px
    padding: 5px 0
    background: rgba(255,255,255,0.05)
    color: #fff
    margin-left: -6px
    border: none
    outline: none
    cursor: pointer
