.mainWrapper
  margin: 0 auto
  width: 940px
  margin-top: 16px
  position: relative

  h1
    padding-left: 31px
    padding-top: 15px
    font-family: 'Bitter', serif
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 29px
    color: #363F48

  h4
    margin-top: 6px
    font-family: $varela
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 14px
    float: left

  p
    font-family: $bitter
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 15px
    float: left

  a
    font-family: $varela
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 17px
    float: right
    margin-top: -20px
    padding-right: 30px

.middleSection
  width: 940px
  position: relative

.newsTab
  width: 620px
  height: 325px
  margin-top: 19px
  background: #FFFFFF
  border-left: 13px solid #3677B5

  .row
    width: 100%
    height: 218px
    padding-right: 30px

    .column
      float: left
      width: 33.33%

      .imageContainer
        width: 170px
        height: 128px
        margin-left: 30px
        margin-top: 30px

        img
          width: 100%
          height: 100%

      .captionContainer
        width: 100%
        height: 85px
        margin-left: 30px
        margin-bottom: 28px
        clear: both

        .commentsContainer
          float: right

.sportTab
  width: 620px
  height: 325px
  margin-top: 17px
  background: #FFFFFF
  border-left: 13px solid #84C14F

  .row
    width: 100%
    height: 218px
    padding-right: 30px

    .column
      float: left
      width: 33.33%

      .imageContainer
        width: 170px
        height: 128px
        margin-left: 30px
        margin-top: 30px

        img
          width: 100%
          height: 100%

    .captionContainer
      width: 100%
      height: 85px
      margin-left: 30px
      margin-bottom: 28px
      clear: both

.businessTab
  width: 620px
  margin-top: 17px
  background: #FFFFFF
  border-left: 13px solid #EE6151

  .row
    width: 100%
    height: 250px
    margin-top: 30px

    .column
      width: 40%
      margin-left: 30px
      margin-right: 10px
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 15px

      .imageContainer
        width: 120px
        height: 90px

        img
          width: 100%
          height: 100%

      .captionContainer
        width: 154px
        height: 85px

.newsCarousel
  width: 620px
  margin-top: 17px
  background: #FFFFFF
  border-left: 13px solid #FCC44D
  position: relative

  .newsCarouselPrev
    background: url('../assets/newscarouselleftarrow.png') no-repeat
    width: 16px
    height: 22px
    outline: none
    border: none
    display: block
    position: absolute
    top: 28px
    right: 45px
    z-index: 1000

  .newsCarouselNext
    background: url('../assets/newscarouselrightarrow.png') no-repeat
    width: 16px
    height: 22px
    outline: none
    border: none
    display: block
    position: absolute
    top: 28px
    right: 21px
    z-index: 1000

  .newsCarouselContentContainer
    width: 100%
    height: 250px
    margin-top: 30px
    padding: 0 13px

    .column
      width: 260px
      height: 220px
      margin-left: 30px
      margin-right: 10px
      display: grid
      grid-template-columns: 260px 260px

      .imageContainer
        img
          width: 260px
          height: 150px

        .captionContainer
          margin-top: 9px
          width: 100%
          height: 67px

.brownTabs
  width: 303px
  display: grid
  grid-template-columns: 293px 293px
  grid-gap: 23px

  .editorialsTab
    width: 303px
    height: 325px
    margin-top: 17px
    background: #FFFFFF
    border-left: 13px solid #A99765
    position: relative

    .editorialsPrev
      position: absolute
      background: url('../assets/editorialsleftarrow.png') no-repeat
      width: 16px
      height: 22px
      outline: none
      border: none
      display: block
      top: 28px
      right: 45px
      z-index: 1000

    .editorialsNext
      background: url('../assets/editorialsrightarrow.png') no-repeat
      width: 16px
      height: 22px
      outline: none
      border: none
      display: block
      position: absolute
      top: 28px
      right: 21px
      z-index: 1000

    .editorialsContentContainer
      margin: 0 auto
      margin-top: 30px
      width: 230px
      height: 219px

      img
        width: 230px
        height: 150px

    .captionContainer
      margin-top: 9px
      width: 100%
      height: 67px

  .localNewsTab
    width: 303px
    height: 325px
    margin-top: 17px
    background: #FFFFFF
    border-left: 13px solid #A99765
    position: relative

    .localNewsPrev
      position: absolute
      background: url('../assets/editorialsleftarrow.png') no-repeat
      width: 16px
      height: 22px
      outline: none
      border: none
      display: block
      position: absolute
      top: 28px
      right: 45px
      z-index: 1000

    .localNewsNext
      background: url('../assets/editorialsrightarrow.png') no-repeat
      width: 16px
      height: 22px
      outline: none
      border: none
      display: block
      position: absolute
      top: 28px
      right: 21px
      z-index: 1000

    .localNewsContentContainer
      margin: 0 auto
      margin-top: 30px
      width: 230px
      height: 219px

      img
        width: 230px
        height: 150px

    .captionContainer
      margin-top: 9px
      width: 100%
      height: 67px
