.side-bars
  display: flex
  flex-direction: column
  max-width: 300px
  width: 100%
  padding: 0
  margin: 19px 0
  float: right

.popular
  height: 667px
  background: #4D4382

  .popular-header
    height: 53px
    background: rgba(0,0,0,0.2)

    .nav-links
      list-style: none
      padding-top: 15px

      li
        display: inline-block

      a
        padding-right: 20px
        @include varela-normal
        color: #FFFFFF
        text-decoration: underline

      a:hover
        color: #FCC44D

      .first
        color: #FCC44D

  #popular-content
    display: block

  #top-rated-content
    display: none

  #comments-content
    display: none

  .row
    padding: 20px 27px
    height: 117px
    margin: 0
    position: relative
    border-bottom: 1px solid rgba(0,0,0,0.2)
    align-content: space-between

    .caption-container
      max-width: 172px
      width: 100%
      position: relative
      margin-top: 15px
      padding: 0

      h4
        @include varela-normal
        font-size: 10px
        line-height: 12px
        color: #ACB3BA
        margin-bottom: 0

      a
        text-decoration: none

      p
        @include bitter-normal
        line-height: 16,8px
        color: #FFFFFF
        text-decoration: none
        cursor: pointer

      .comments-container
        position: absolute
        top: -10px
        right: 32px

        i
          margin-right: 2px

    .image-container
      max-width: 70px
      width: 100%
      height: 70px
      padding: 0

      img
        background-size: 100% 100%
        border: 2px solid #FFFFFF

  .row:hover
    background: #453C75

.social-sidebar
  height: 191px
  margin-top: 28px

  h2
    @include bitter-bold-bigger
    margin-bottom: 15px

  .row
    height: 43px
    margin: 7px 0

    i
      max-width: 20px
      width: 100%
      max-height: 20px
      height: 100%
      color: #FFFFFF
      margin: 0 auto

    .facebook
      max-width: 40px
      width: 100%
      height: 100%
      background: #39599F
      display: flex
      align-items: center
      justify-content: center

    .twitter
      max-width: 40px
      width: 100%
      height: 100%
      background: #45B0E3
      display: flex
      align-items: center
      justify-content: center

    .youtube
      max-width: 40px
      width: 100%
      height: 100%
      background: #E70031
      display: flex
      align-items: center
      justify-content: center

    .textTab
      max-width: 123px
      width: 100%
      height: 100%
      background: #DDDDDD
      display: flex
      align-items: center
      justify-content: flex-start
      padding-top: 13px

      h2
        font-family: $bitter
        font-weight: bold
        font-size: 18px
        line-height: 18px
        color: #363F48

    .social-numbers
      width: 137px
      height: 100%
      background: #4D4382
      display: flex
      justify-content: flex-start
      align-items: center
      padding-top: 16px

      p
        @include varela-normal
        color: #FFFFFF
        text-align: center

.kenaz-tv
  height: 324px
  margin-top: 17px
  background: #FFFFFF

  .kenaz-tv-heading
    height: 79px
    display: flex
    align-items: center
    justify-content: flex-start

    h2
      @include bitter-bold-bigger
      margin-left: 33px

  .video-row
    max-height: 149px
    height: 100%

  .kenaz-tv-caption
    position: relative
    padding: 20px 1px 25px 32px

    a
      text-decoration: none

    h3
      @include bitter-bold-bigger
      font-size: 15px
      line-height: 18px
      padding-top: 20px

    .date
      position: absolute
      top: 17px
      left: 32px

      h4
        @include varela-normal
        font-size: 10px
        line-height: 12px
        color: #363F48

.side-banners
  height: 167px
  background: #DDDDDD
  margin-top: 18px

  .banners-container
    display: flex
    flex-direction: row
    justify-content: space-evenly
    padding: 20px 7px

.facebook-posts
  height: 534px
  margin-top: 17px
  background: #FFFFFF
  padding: 6px
