*
 margin: 0
 padding: 0
 box-sizing: border-box

body
 position: relative
 background: #EEEEEE

.wrapper
 display: flex
 flex-direction: column
 min-height: 100vh

@import './header'
@import './categories'
@import './banners'
@import './carousel'
@import './sections'
@import './footer'
