*
 margin: 0
 padding: 0
 box-sizing: border-box

body
 position: relative
 background: #EEEEEE

@import './fonts'
@import './header'
@import './categories'
@import './slider'
@import './banners'
@import './sections'
@import './sidebars'
@import './footer'
@import './newsCategory'
