* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  background: #EEEEEE;
}

header {
  background: #252525;
}

header .main-nav {
  width: 940px;
  height: 53px;
  margin: 0 auto;
  position: relative;
}

header .main-nav a {
  text-decoration: none;
  color: #FFFFFF;
}

header .main-nav .logo {
  position: absolute;
  width: 142px;
  height: 53px;
  left: 0;
}

header .main-nav .logo .arrow {
  position: absolute;
  width: 63px;
  height: 53px;
  background: rgba(255, 255, 255, 0.05);
}

header .main-nav .logo .arrow .arrow-icon {
  position: absolute;
  width: 14px;
  height: 21px;
  margin-left: 23px;
  margin-top: 15px;
  background: url("../assets/headerarrow.png") no-repeat;
}

header .main-nav .logo h2 {
  position: absolute;
  margin-top: 16.5px;
  margin-left: 72px;
  font-family: "Bitter", serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
}

header .main-nav .sub-nav {
  position: absolute;
  right: 0;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 60px;
      grid-template-columns: 350px 60px;
}

header .main-nav .sub-nav .nav-links-container {
  padding-top: 15px;
  overflow: hidden;
}

header .main-nav .sub-nav .nav-links-container .nav-links {
  list-style: none;
}

header .main-nav .sub-nav .nav-links-container .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

header .main-nav .sub-nav .nav-links-container .nav-links li a {
  font-family: "Varela Round", serif;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
}

header .main-nav .sub-nav .search {
  right: 0;
  background: yellow;
  height: 100%;
  width: 60px;
  position: absolute;
  width: 62px;
  height: 53px;
  background: rgba(255, 255, 255, 0.05);
}

header .main-nav .sub-nav .search-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 23px;
  margin-top: 18px;
  background: url("../assets/searchicon.png") no-repeat;
}

header .main-nav .sub-nav .searchicon:hover {
  cursor: pointer;
}

.togglesearch {
  background: #252525;
  position: absolute;
  top: 70px;
  right: 5%;
  width: 350px;
  height: 60px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 4px solid #252525;
  display: none;
}

.togglesearch:before {
  content: "";
  position: absolute;
  top: -32px;
  right: 13px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid transparent;
  border-bottom: 14px solid #252525;
}

.togglesearch input[type="text"] {
  width: 200px;
  padding: 5px 10px;
  margin-left: 23px;
  margin-top: 4px;
  border: 1px solid #252525;
  outline: none;
}

.togglesearch input[type="button"] {
  width: 80px;
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  margin-left: -6px;
  border: none;
  outline: none;
  cursor: pointer;
}

.categories-wrap {
  background: #4D4382;
}

.categories-wrap .categories {
  margin: 0 auto;
  width: 940px;
  height: 53px;
}

.categories-wrap .categories .category-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 330px;
}

.categories-wrap .categories .category-links .inline {
  text-align: center;
  left: 0;
}

.categories-wrap .categories .category-links .news-div {
  background: #299EC3;
  padding: 15px 21px 14px 20px;
}

.categories-wrap .categories .category-links .business-div {
  padding-top: 9px;
  margin-left: 17px;
  margin: 0 auto;
}

.categories-wrap .categories .category-links .business-div .red {
  width: 132px;
  height: 4px;
  margin-left: 0;
  top: 97px;
  background: #EE6151;
  margin-top: 16px;
}

.categories-wrap .categories .category-links .sport-div {
  padding-top: 9px;
  margin-left: 11px;
  margin: 0 auto;
}

.categories-wrap .categories .category-links .sport-div .green {
  width: 100px;
  height: 4px;
  margin-left: 0;
  top: 47px;
  background: #84C14F;
  margin-top: 16px;
}

.categories-wrap .categories .category-links .life-div {
  padding-top: 9px;
  margin-left: 9px;
  margin: 0 auto;
}

.categories-wrap .categories .category-links .life-div .blue {
  width: 81px;
  height: 4px;
  margin-left: 0;
  top: 47px;
  background: #5DCFF3;
  margin-top: 16px;
}

.categories-wrap .categories .category-links .tech-div {
  padding-top: 9px;
  margin-left: 10px;
  margin: 0 auto;
}

.categories-wrap .categories .category-links .tech-div .yellow {
  width: 91px;
  height: 4px;
  margin-left: 0;
  top: 47px;
  background: #FCC44D;
  margin-top: 16px;
}

.categories-wrap .categories .category-links .travel-div {
  padding-top: 9px;
  margin-left: 10px;
  margin: 0 auto;
}

.categories-wrap .categories .category-links .travel-div .brown {
  width: 113px;
  height: 4px;
  margin-left: 0;
  top: 47px;
  background: #A99765;
  margin-top: 16px;
}

.categories-wrap .categories .category-links a {
  font-family: 'Bitter', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21.6px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.slider-container {
  width: 940px;
  position: relative;
  cursor: pointer;
  margin-top: 18px;
}

.slider-container .prev {
  display: block;
  position: absolute;
  width: 36px;
  height: 53px;
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  left: 3%;
}

.slider-container .next {
  display: block;
  position: absolute;
  width: 36px;
  height: 53px;
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  right: 3%;
}

.slider-container .slider-img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1.7s;
  transition: 1.7s;
  width: 100%;
}

.slider-container .slider-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider-container .upper-slider {
  margin: 0 auto;
  position: relative;
}

.slider-container .upper-slider .slider-img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.slider-container .upper-slider .slider-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider-container .upper-slider .slide {
  position: relative;
}

.slider-container .upper-slider .slider-caption {
  position: absolute;
  width: 588px;
  height: 113px;
  left: 30px;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}

.slider-container .upper-slider .comments-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-container .upper-slider .comments-container h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14.45px;
  color: #EEF6FA;
}

.slider-container .upper-slider .caption-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-container .upper-slider .caption-container h2 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40,8px;
  color: #EEF6FA;
}

.slider-container .upper-slider .slider-button {
  position: absolute;
  width: 123px;
  height: 33px;
  left: 20px;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}

.slider-container .upper-slider .slider-button a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: inline;
  color: #EEF6FA;
  text-decoration: none;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 15px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.slider-container .upper-slider a:hover {
  background-color: #c4d0d6;
  color: #000000;
}

.slider-container .bottom-slider {
  margin: 0 auto;
  position: relative;
}

.slider-container .bottom-slider .prev, .slider-container .bottom-slider .next {
  display: block;
  position: absolute;
  width: 36px;
  height: 53px;
  top: 40%;
}

.slider-container .bottom-slider .prev {
  left: 3%;
}

.slider-container .bottom-slider .next {
  right: 3%;
}

.slider-container .bottom-slider .slide {
  position: relative;
}

.slider-container .bottom-slider .zoom-container {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 30%;
  z-index: 1000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.slider-container .bottom-slider i {
  color: #FFFFFF;
  text-shadow: 4px 4px 4px #000000;
}

.slider-container .bottom-slider img {
  width: 100%;
  height: 400px;
}

.slider-container .bottom-slider:hover .zoom-container {
  opacity: 1;
}

.slider-container .thumbnails {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 940px;
  padding: 0 20px;
}

.slider-container .thumbnails img {
  display: inline-block;
  width: 120px;
  height: 120px;
}

.nineforty-banner {
  width: 940px;
  height: 120px;
  margin-top: 16px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D7D7D7;
}

.nineforty-banner p {
  font-family: "Varela Round", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.86px;
  color: #999999;
  text-align: center;
}

.sixtwenty-banner {
  width: 620px;
  height: 120px;
  margin-top: 16px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D7D7D7;
}

.sixtwenty-banner p {
  font-family: "Varela Round", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.86px;
  color: #999999;
  text-align: center;
}

.small-banners {
  width: 128px;
  height: 128px;
  margin-top: 16px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D7D7D7;
  margin: 0;
}

.small-banners p {
  font-family: "Varela Round", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.86px;
  color: #999999;
  text-align: center;
}

.main-wrapper {
  margin: 0 auto;
  width: 940px;
  margin-top: 16px;
  position: relative;
}

.middle-section {
  width: 940px;
  position: relative;
}

.news-tab {
  width: 620px;
  height: 325px;
  margin-top: 19px;
  background: #FFFFFF;
  border-left: 13px solid #3677B5;
}

.news-tab h1 {
  padding-left: 31px;
  padding-top: 15px;
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
}

.news-tab h4 {
  margin-top: 6px;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  float: left;
}

.news-tab p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  float: left;
}

.news-tab a {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  float: right;
  margin-top: -20px;
  padding-right: 30px;
}

.news-tab .row {
  width: 100%;
  height: 218px;
  padding-right: 30px;
}

.news-tab .row .column {
  float: left;
  width: 33.33%;
}

.news-tab .row .column .image-container {
  width: 170px;
  height: 128px;
  margin-left: 30px;
  margin-top: 30px;
}

.news-tab .row .column .image-container img {
  width: 100%;
  height: 100%;
}

.news-tab .row .column .caption-container {
  width: 100%;
  height: 85px;
  margin-left: 30px;
  margin-bottom: 28px;
  clear: both;
}

.news-tab .row .column .caption-container .comments-container {
  float: right;
}

.sport-tab {
  width: 620px;
  height: 325px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #84C14F;
}

.sport-tab h1 {
  padding-left: 31px;
  padding-top: 15px;
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
}

.sport-tab h4 {
  margin-top: 6px;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  float: left;
}

.sport-tab p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  float: left;
}

.sport-tab a {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  float: right;
  margin-top: -20px;
  padding-right: 30px;
}

.sport-tab .row {
  width: 100%;
  height: 218px;
  padding-right: 30px;
}

.sport-tab .row .column {
  float: left;
  width: 33.33%;
}

.sport-tab .row .column .image-container {
  width: 170px;
  height: 128px;
  margin-left: 30px;
  margin-top: 30px;
}

.sport-tab .row .column .image-container img {
  width: 100%;
  height: 100%;
}

.sport-tab .row .caption-container {
  width: 100%;
  height: 85px;
  margin-left: 30px;
  margin-bottom: 28px;
  clear: both;
}

.business-tab {
  width: 620px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #EE6151;
}

.business-tab h1 {
  padding-left: 31px;
  padding-top: 15px;
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
}

.business-tab h4 {
  margin-top: 6px;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  float: left;
}

.business-tab p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  float: left;
}

.business-tab a {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  float: right;
  margin-top: -20px;
  padding-right: 30px;
}

.business-tab .row {
  width: 100%;
  height: 250px;
  margin-top: 30px;
}

.business-tab .row .column {
  width: 40%;
  margin-left: 30px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.business-tab .row .column .image-container {
  width: 120px;
  height: 90px;
}

.business-tab .row .column .image-container img {
  width: 100%;
  height: 100%;
}

.business-tab .row .column .caption-container {
  width: 154px;
  height: 85px;
}

.news-carousel {
  width: 620px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #FCC44D;
  position: relative;
}

.news-carousel h1 {
  padding-left: 31px;
  padding-top: 15px;
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
}

.news-carousel h4 {
  margin-top: 6px;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  float: left;
}

.news-carousel p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  float: left;
}

.news-carousel a {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  float: right;
  margin-top: -20px;
  padding-right: 30px;
}

.news-carousel .news-carousel-prev {
  background: url("../assets/newscarouselleftarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  display: block;
  position: absolute;
  top: 28px;
  right: 51px;
  z-index: 1000;
}

.news-carousel .news-carousel-next {
  background: url("../assets/newscarouselrightarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  display: block;
  position: absolute;
  top: 28px;
  right: 21px;
  z-index: 1000;
}

.news-carousel .news-carousel-content-container {
  width: 100%;
  height: 250px;
  margin-top: 30px;
  padding: 0 13px;
}

.news-carousel .news-carousel-content-container .column {
  width: 260px;
  height: 220px;
  margin-left: 30px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 260px;
      grid-template-columns: 260px 260px;
}

.news-carousel .news-carousel-content-container .column .image-container img {
  width: 260px;
  height: 150px;
}

.news-carousel .news-carousel-content-container .column .image-container .caption-container {
  margin-top: 9px;
  width: 100%;
  height: 67px;
}

.brown-tabs {
  width: 303px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 293px 293px;
      grid-template-columns: 293px 293px;
  grid-gap: 23px;
}

.brown-tabs h1 {
  padding-left: 31px;
  padding-top: 15px;
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
}

.brown-tabs h4 {
  margin-top: 6px;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  float: left;
}

.brown-tabs p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  float: left;
}

.brown-tabs a {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  float: right;
  margin-top: -20px;
  padding-right: 30px;
}

.brown-tabs .editorials-tab {
  width: 303px;
  height: 325px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #A99765;
  position: relative;
}

.brown-tabs .editorials-tab .editorials-prev {
  position: absolute;
  background: url("../assets/editorialsleftarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  display: block;
  top: 28px;
  right: 51px;
  z-index: 1000;
}

.brown-tabs .editorials-tab .editorials-next {
  background: url("../assets/editorialsrightarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  display: block;
  position: absolute;
  top: 28px;
  right: 21px;
  z-index: 1000;
}

.brown-tabs .editorials-tab .editorials-content-container {
  margin: 0 auto;
  margin-top: 30px;
  width: 230px;
  height: 219px;
}

.brown-tabs .editorials-tab .editorials-content-container img {
  width: 230px;
  height: 150px;
}

.brown-tabs .editorials-tab .caption-container {
  margin-top: 9px;
  width: 100%;
  height: 67px;
}

.brown-tabs .local-news-tab {
  width: 303px;
  height: 325px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #A99765;
  position: relative;
}

.brown-tabs .local-news-tab .local-news-prev {
  position: absolute;
  background: url("../assets/editorialsleftarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  display: block;
  position: absolute;
  top: 28px;
  right: 51px;
  z-index: 1000;
}

.brown-tabs .local-news-tab .local-news-next {
  background: url("../assets/editorialsrightarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  display: block;
  position: absolute;
  top: 28px;
  right: 21px;
  z-index: 1000;
}

.brown-tabs .local-news-tab .local-news-content-container {
  margin: 0 auto;
  margin-top: 30px;
  width: 230px;
  height: 219px;
}

.brown-tabs .local-news-tab .local-news-content-container img {
  width: 230px;
  height: 150px;
}

.brown-tabs .local-news-tab .caption-container {
  margin-top: 9px;
  width: 100%;
  height: 67px;
}

.side-bars {
  width: 300px;
  right: 0;
  top: 0;
  position: absolute;
}

.popular {
  height: 667px;
  background: #4D4382;
  right: 0;
  top: 0;
  margin-bottom: 25px;
}

.popular .popular-header {
  height: 53px;
  background: rgba(0, 0, 0, 0.2);
}

.popular .popular-header .nav-links {
  list-style: none;
  padding-top: 15px;
}

.popular .popular-header .nav-links li {
  display: inline-block;
}

.popular .popular-header .nav-links a {
  padding-right: 20px;
  font-family: "Varela Round", serif;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: underline;
}

.popular .popular-header .nav-links a:hover {
  color: #FCC44D;
}

.popular .popular-header .nav-links .first {
  color: #FCC44D;
}

.popular #popular-content {
  display: block;
}

.popular #top-rated-content {
  display: none;
}

.popular #comments-content {
  display: none;
}

.popular .row {
  padding: 20px 27px;
  height: 117px;
  margin: 0;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.popular .row .caption-container {
  width: 172px;
  position: relative;
  margin-top: 15px;
  padding: 0;
}

.popular .row .caption-container h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ACB3BA;
  margin-bottom: 0;
}

.popular .row .caption-container p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16,8px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.popular .row .caption-container .comments-container {
  position: absolute;
  top: -10px;
  right: 32px;
}

.popular .row .caption-container .comments-container i {
  margin-right: 2px;
}

.popular .row .image-container {
  width: 70px;
  height: 70px;
  padding: 0;
}

.popular .row .image-container img {
  background-size: 100% 100%;
  border: 2px solid #FFFFFF;
}

.popular .row:hover {
  background: #453C75;
}

.social-sidebar {
  height: 191px;
  margin-top: 28px;
}

.social-sidebar h2 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
  margin-bottom: 15px;
}

.social-sidebar .row {
  height: 43px;
  margin: 7px 0;
}

.social-sidebar .row i {
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  margin: 0 auto;
}

.social-sidebar .row .facebook {
  width: 40px;
  height: 100%;
  background: #39599F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-sidebar .row .twitter {
  width: 40px;
  height: 100%;
  background: #45B0E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-sidebar .row .youtube {
  width: 40px;
  height: 100%;
  background: #E70031;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-sidebar .row .textTab {
  width: 123px;
  height: 100%;
  background: #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 13px;
}

.social-sidebar .row .textTab h2 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #363F48;
}

.social-sidebar .row .social-numbers {
  width: 137px;
  height: 100%;
  background: #4D4382;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
}

.social-sidebar .row .social-numbers p {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.86px;
  color: #FFFFFF;
  text-align: center;
}

.kenaz-tv {
  height: 324px;
  margin-top: 17px;
  background: #FFFFFF;
}

.kenaz-tv .kenaz-tv-heading {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.kenaz-tv .kenaz-tv-heading h2 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-left: 33px;
  color: #363F48;
}

.kenaz-tv .video-row {
  height: 149px;
}

.kenaz-tv .kenaz-tv-caption {
  position: relative;
  padding: 20px 1px 25px 32px;
}

.kenaz-tv .kenaz-tv-caption h3 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #363F48;
  padding-top: 20px;
}

.kenaz-tv .kenaz-tv-caption .date {
  position: absolute;
  top: 17px;
  left: 32px;
}

.kenaz-tv .kenaz-tv-caption .date h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #363F48;
}

.side-banners {
  height: 167px;
  background: #DDDDDD;
  margin-top: 18px;
}

.side-banners .banners-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 7px;
}

.facebook-posts {
  height: 534px;
  margin-top: 17px;
  background: #FFFFFF;
  padding: 6px;
}

.news-category {
  width: 620px;
  background: #FFFFFF;
  margin-top: 19px;
}

.news-category .main-heading {
  padding-left: 42px;
  padding-top: 15px;
}

.news-category h1 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.news-category .row {
  border-bottom: 1px solid #DDDDDD;
  padding: 0 30px;
  padding-bottom: 50px;
  margin: 0;
}

.news-category .heading {
  width: 500px;
  margin-top: 35px;
  margin-bottom: 16px;
}

.news-category h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.news-category .date-and-author {
  width: 380px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -13px;
}

.news-category .date-and-author i {
  font-size: 16px;
}

.news-category .date-and-author span {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  color: #666666;
}

.news-category .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-category .image-container {
  height: 128px;
  width: 170px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
}

.news-category .image-container img {
  width: 100%;
  height: 100%;
}

.news-category .text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.news-category p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #444444;
  float: right;
}

.news-category button {
  width: 120px;
  height: 30px;
  background: #4D4382;
  padding: 8px 20px;
  color: #FFFFFF;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.news-category .pagination {
  margin-top: 30px;
}

.news-category .pagination .number {
  width: 33px;
  height: 32px;
  margin-right: 5px;
  display: table;
}

.news-category .pagination span {
  background: #DDDDDD;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.news-category .pagination span:hover {
  background: #4D4382;
  cursor: pointer;
  color: #FFFFFF;
}

.news-category .pagination .highlight {
  background: #4D4382;
  color: #FFFFFF;
}

.single-image {
  margin-top: 18px;
  margin-bottom: 8px;
  width: 940px;
  height: 588px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7%, #EEEEEE), color-stop(45%, rgba(255, 255, 255, 0))), url("../assets/singleimg.png");
  background-image: linear-gradient(to top, #EEEEEE 7%, rgba(255, 255, 255, 0) 45%), url("../assets/singleimg.png");
  position: relative;
}

.single-caption {
  height: 144px;
  position: absolute;
  left: 51px;
  bottom: 35px;
}

.single-caption .single-comments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.single-caption h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
}

.single-caption .single-caption-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 751px;
}

.single-caption h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52.8px;
  color: #222222;
}

.single-category {
  width: 620px;
  height: 953px;
  background: #FFFFFF;
  position: relative;
}

.paragraph {
  width: 572px;
  padding: 37px;
}

.paragraph p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.paragraph-image img {
  width: 100%;
  height: 100%;
}

.single-socials {
  margin-top: 44px;
  width: 607px;
  height: 42px;
  position: absolute;
  bottom: 18px;
}

.single-socials img {
  padding-left: 20px;
  width: 100%;
}

.about-the-author {
  margin-top: 16px;
  background: #FFFFFF;
  width: 620px;
}

.about-the-author .row {
  padding: 30px;
  padding-top: 0;
  width: 100%;
  margin: 0;
}

.about-the-author .heading {
  margin-top: 35px;
  margin-bottom: 15px;
  color: #363F48;
}

.about-the-author h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
}

.single-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-content .image-container {
  height: 110px;
  width: 110px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
}

.single-content img {
  width: 100%;
  height: 100%;
}

.single-content .text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.single-content p {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.comments {
  margin-top: 16px;
  background: #FFFFFF;
  width: 620px;
}

.comments .row {
  padding: 30px;
  padding-top: 0;
  width: 100%;
  margin: 0;
}

.comments .heading {
  margin-top: 30px;
  margin-bottom: 15px;
}

.comments h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28.8px;
  color: #363F48;
}

.comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comments .user-image-container {
  width: 57px;
  height: 58px;
  border: 1px solid #CCCCCC;
}

.comments .user-image-container .image-background {
  margin: 2px;
  background: #CCCCCC;
  width: 50px;
  height: 50px;
}

.comments .user-image-container img {
  padding-bottom: 0;
  padding-top: 7px;
  width: 100%;
  height: 100%;
}

.comments .comment-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.comments .user {
  width: 502px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-bottom: 5px;
}

.comments .user .reply {
  position: absolute;
  right: 30px;
  margin-bottom: 5px;
}

.comments .user h3 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #4D4382;
}

.comments .user h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: #666666;
  padding-left: 10px;
}

.comments .user span {
  color: #4D4382;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.comments .users-comment {
  width: 502px;
}

.comments .users-comment p {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.comments .add-comment-text {
  margin-top: -26.5px;
}

.comments p {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.comments .single-form {
  margin-top: -20px;
}

.comments .single-form input, .comments .single-form textarea {
  border-radius: 0;
  margin-bottom: 8px;
  background: #DDDDDD;
  color: #666666;
}

.comments .single-form::-webkit-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.comments .single-form:-ms-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.comments .single-form::-ms-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.comments .single-form::placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.comments .single-form input {
  width: 50%;
}

.comments .single-form button {
  border-radius: 0;
  margin-top: 18px;
  width: 153px;
  height: 53px;
  background: #4D4382;
  border: none;
}

footer {
  height: 992px;
  border-top: 23px solid #4D4382;
  margin-top: 19px;
  background: #252525;
  overflow: hidden;
}

footer h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #CCCCCC;
}

footer .footer-content-container {
  width: 940px;
  margin: 0 auto;
}

footer .footer-content-container .upper-footer-container {
  margin-top: 50px;
  height: 735px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  grid-gap: 23px;
}

footer .footer-content-container .upper-footer-container .kenaz {
  height: 174px;
}

footer .footer-content-container .upper-footer-container .footer-logo {
  position: absolute;
  width: 28px;
  height: 43px;
  background: url("../assets/footerLogo.png") no-repeat;
}

footer .footer-content-container .upper-footer-container .footer-heading {
  position: absolute;
  color: #45B0E3;
  margin-left: 48px;
}

footer .footer-content-container .upper-footer-container .footer-heading h2 {
  font-family: "Bitter", serif;
  font-weight: normal;
  font-size: 29.623px;
  line-height: 52px;
  color: #45B0E3;
}

footer .footer-content-container .upper-footer-container .kenaz-text {
  width: 303px;
  height: 40px;
  margin-top: 60px;
}

footer .footer-content-container .upper-footer-container p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}

footer .footer-content-container .upper-footer-container .socials {
  margin-top: 17px;
}

footer .footer-content-container .upper-footer-container .socials i {
  width: 18px;
  height: 18px;
  color: #FFFFFF;
  padding: 10px;
}

footer .footer-content-container .upper-footer-container .socials:hover {
  cursor: pointer;
}

footer .footer-content-container .upper-footer-container .rss {
  width: 38px;
  height: 38px;
  background: #F8BC2E;
  display: inline-block;
}

footer .footer-content-container .upper-footer-container .facebook {
  width: 38px;
  height: 38px;
  background: #39599F;
  display: inline-block;
}

footer .footer-content-container .upper-footer-container .twitter {
  width: 38px;
  height: 38px;
  background: #45B0E3;
  display: inline-block;
}

footer .footer-content-container .upper-footer-container .dribble {
  width: 38px;
  height: 38px;
  background: #D97AA5;
  display: inline-block;
}

footer .footer-content-container .upper-footer-container .linkedin {
  width: 38px;
  height: 38px;
  background: #65B7D2;
  display: inline-block;
}

footer .footer-content-container .upper-footer-container .youtube {
  width: 38px;
  height: 38px;
  background: #E70031;
  display: inline-block;
}

footer .footer-content-container .upper-footer-container .skype {
  width: 38px;
  height: 38px;
  background: #00C6FF;
  display: inline-block;
}

footer .footer-content-container .upper-footer-container .newsletter {
  height: 174px;
}

footer .footer-content-container .upper-footer-container .newsletter-heading {
  margin-top: 6px;
}

footer .footer-content-container .upper-footer-container .newsletter-text {
  margin-top: 25px;
}

footer .footer-content-container .upper-footer-container p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}

footer .footer-content-container .upper-footer-container .text {
  width: 190px;
}

footer .footer-content-container .upper-footer-container .form {
  margin-top: 25px;
}

footer .footer-content-container .upper-footer-container .email {
  background: #333333;
  padding: 15px 70px 20px 20px;
  border: none;
  color: #FFFFFF;
  height: 53px;
}

footer .footer-content-container .upper-footer-container .email::-webkit-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

footer .footer-content-container .upper-footer-container .email:-ms-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

footer .footer-content-container .upper-footer-container .email::-ms-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

footer .footer-content-container .upper-footer-container .email::placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

footer .footer-content-container .upper-footer-container .email:focus {
  outline: none;
}

footer .footer-content-container .upper-footer-container .subscribe-button {
  width: 110px;
  height: 53px;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background: #4D4382;
  border: none;
  color: #CCCCCC;
}

footer .footer-content-container .upper-footer-container .tags-widget {
  height: 174px;
}

footer .footer-content-container .upper-footer-container .tags-widget .tags-widget-heading {
  margin-top: 6px;
}

footer .footer-content-container .upper-footer-container .tags-widget h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #CCCCCC;
}

footer .footer-content-container .upper-footer-container .tags-widget .button-tags {
  margin-top: 25px;
  width: 100%;
}

footer .footer-content-container .upper-footer-container .tags-widget .button-tags button {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  height: 28px;
  width: auto;
  padding: 5px 10px;
  background: #333333;
  color: #CCCCCC;
  margin: 1px;
  border: none;
}

footer .footer-content-container .upper-footer-container .tags-widget .button-tags button:hover {
  background: #4D4382;
}

footer .footer-content-container .upper-footer-container .featured, footer .footer-content-container .upper-footer-container .random-posts {
  height: 364px;
}

footer .footer-content-container .upper-footer-container .featured .row, footer .footer-content-container .upper-footer-container .random-posts .row {
  height: 115px;
  position: relative;
}

footer .footer-content-container .upper-footer-container .featured .row .caption-container, footer .footer-content-container .upper-footer-container .random-posts .row .caption-container {
  margin-top: 25px;
  width: 214px;
  height: 52px;
  position: relative;
}

footer .footer-content-container .upper-footer-container .featured .row .caption-container h4, footer .footer-content-container .upper-footer-container .random-posts .row .caption-container h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #666666;
}

footer .footer-content-container .upper-footer-container .featured .row .caption-container .comments-container, footer .footer-content-container .upper-footer-container .random-posts .row .caption-container .comments-container {
  position: absolute;
  top: 0px;
  right: 14px;
}

footer .footer-content-container .upper-footer-container .featured .row .caption-container p, footer .footer-content-container .upper-footer-container .random-posts .row .caption-container p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #CCCCCC;
}

footer .footer-content-container .upper-footer-container .featured .row .image-container, footer .footer-content-container .upper-footer-container .random-posts .row .image-container {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 20px;
  left: 220px;
}

footer .footer-content-container .upper-footer-container .featured .row .image-container img, footer .footer-content-container .upper-footer-container .random-posts .row .image-container img {
  border: 2px solid #FFFFFF;
}

footer .footer-content-container .upper-footer-container .featured hr, footer .footer-content-container .upper-footer-container .random-posts hr {
  width: 303px;
  height: 2px;
  margin-top: 41px;
  margin-left: 12px;
  margin-right: 12px;
  background: #666666;
  opacity: 0.2;
}

footer .footer-content-container .upper-footer-container .twitter-feed {
  height: 364px;
}

footer .footer-content-container .upper-footer-container .twitter-feed .row {
  height: 115px;
  position: relative;
  margin: 0;
}

footer .footer-content-container .upper-footer-container .twitter-feed .row .caption-container {
  margin-top: 15px;
  height: 54px;
  position: relative;
  display: inline;
  padding: 0;
}

footer .footer-content-container .upper-footer-container .twitter-feed .row .caption-container i {
  width: 24px;
  height: 18px;
  color: #45B0E3;
  margin: 0;
  padding: 0;
  display: inline;
}

footer .footer-content-container .upper-footer-container .twitter-feed .row .caption-container h4 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin: 0;
  padding: 0;
  display: inline;
  margin-left: 4px;
}

footer .footer-content-container .upper-footer-container .twitter-feed .row .caption-container p {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #CCCCCC;
}

footer .footer-content-container .bottom-hr {
  height: 2px;
  background: #666666;
  margin: 0;
  padding: 0;
  width: 200%;
  margin-left: -50%;
}

footer .footer-content-container .lower-footer-container {
  height: 36px;
  margin-top: 18px;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */