*
 margin: 0
 padding: 0
 box-sizing: border-box

body
 position: relative
 background: #EEEEEE
 width: 100%
 margin: 0 auto

@import './header'
@import './categories'
@import './banners'
@import './carousel'
@import './leftTabs'
@import './rightTabs'
@import './footer'
