* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  background: #EEEEEE;
}

header {
  background: #252525;
}

header .mainNav {
  width: 940px;
  height: 53px;
  margin: 0 auto;
  position: relative;
}

header .mainNav a {
  text-decoration: none;
  color: #FFFFFF;
}

header .mainNav .logo {
  position: absolute;
  width: 142px;
  height: 53px;
  left: 0;
}

header .mainNav .logo .arrow {
  position: absolute;
  width: 63px;
  height: 53px;
  background: rgba(255, 255, 255, 0.05);
}

header .mainNav .logo .arrow .arrowicon {
  position: absolute;
  width: 14px;
  height: 21px;
  margin-left: 23px;
  margin-top: 15px;
  background: url("../assets/headerarrow.png") no-repeat;
}

header .mainNav .logo h2 {
  position: absolute;
  margin-top: 16.5px;
  margin-left: 72px;
  font-family: "Bitter", serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
}

header .mainNav .subnav {
  position: absolute;
  right: 0;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 60px;
      grid-template-columns: 350px 60px;
}

header .mainNav .subnav .navLinksContainer {
  padding-top: 15px;
  overflow: hidden;
}

header .mainNav .subnav .navLinksContainer .navLinks {
  list-style: none;
}

header .mainNav .subnav .navLinksContainer .navLinks li {
  display: inline-block;
  padding: 0 20px;
}

header .mainNav .subnav .navLinksContainer .navLinks li a {
  font-family: "Varela Round", serif;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
}

header .mainNav .subnav .search {
  right: 0;
  background: yellow;
  height: 100%;
  width: 60px;
  position: absolute;
  width: 62px;
  height: 53px;
  background: rgba(255, 255, 255, 0.05);
}

header .mainNav .subnav .searchicon {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 23px;
  margin-top: 18px;
  background: url("../assets/searchicon.png") no-repeat;
}

header .mainNav .subnav .searchicon:hover {
  cursor: pointer;
}

.categoriesWrap {
  background: #4D4382;
}

.categoriesWrap .categories {
  margin: 0 auto;
  width: 940px;
  height: 53px;
}

.categoriesWrap .categories .categoryLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 330px;
}

.categoriesWrap .categories .categoryLinks .inline {
  text-align: center;
  left: 0;
}

.categoriesWrap .categories .categoryLinks .newsDiv {
  background: #299EC3;
  padding: 15px 21px 14px 20px;
}

.categoriesWrap .categories .categoryLinks .businessDiv {
  padding-top: 9px;
  margin-left: 17px;
  margin: 0 auto;
}

.categoriesWrap .categories .categoryLinks .businessDiv .red {
  width: 132px;
  height: 6px;
  margin-left: 0;
  top: 97px;
  background: #EE6151;
  margin-top: 14px;
}

.categoriesWrap .categories .categoryLinks .sportDiv {
  padding-top: 9px;
  margin-left: 11px;
  margin: 0 auto;
}

.categoriesWrap .categories .categoryLinks .sportDiv .green {
  width: 100px;
  height: 6px;
  margin-left: 0;
  top: 47px;
  background: #84C14F;
  margin-top: 14px;
}

.categoriesWrap .categories .categoryLinks .lifeDiv {
  padding-top: 9px;
  margin-left: 9px;
  margin: 0 auto;
}

.categoriesWrap .categories .categoryLinks .lifeDiv .blue {
  width: 81px;
  height: 6px;
  margin-left: 0;
  top: 47px;
  background: #5DCFF3;
  margin-top: 14px;
}

.categoriesWrap .categories .categoryLinks .techDiv {
  padding-top: 9px;
  margin-left: 10px;
  margin: 0 auto;
}

.categoriesWrap .categories .categoryLinks .techDiv .yellow {
  width: 91px;
  height: 6px;
  margin-left: 0;
  top: 47px;
  background: #FCC44D;
  margin-top: 14px;
}

.categoriesWrap .categories .categoryLinks .travelDiv {
  padding-top: 9px;
  margin-left: 10px;
  margin: 0 auto;
}

.categoriesWrap .categories .categoryLinks .travelDiv .brown {
  width: 113px;
  height: 6px;
  margin-left: 0;
  top: 47px;
  background: #A99765;
  margin-top: 14px;
}

.categoriesWrap .categories .categoryLinks a {
  font-family: 'Bitter', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21.6px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.sliderContainer {
  width: 940px;
  position: relative;
  cursor: pointer;
}

.sliderContainer .prev, .sliderContainer .next {
  display: block;
  position: absolute;
  width: 36px;
  height: 53px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}

.sliderContainer .prev {
  left: 3%;
}

.sliderContainer .next {
  right: 3%;
}

.sliderContainer .sliderImg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1.7s;
  transition: 1.7s;
  width: 100%;
}

.sliderContainer .sliderImg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sliderContainer .upperSlider {
  margin: 0 auto;
  position: relative;
}

.sliderContainer .upperSlider .sliderImg {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.sliderContainer .upperSlider .sliderImg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sliderContainer .upperSlider .slide {
  position: relative;
}

.sliderContainer .upperSlider .sliderCaption {
  position: absolute;
  width: 588px;
  height: 113px;
  left: 30px;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}

.sliderContainer .upperSlider .commentsContainer {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sliderContainer .upperSlider .commentsContainer h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14.45px;
  color: #EEF6FA;
}

.sliderContainer .upperSlider .captionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sliderContainer .upperSlider .captionContainer h2 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 40,8px;
  color: #EEF6FA;
}

.sliderContainer .upperSlider .sliderButton {
  position: absolute;
  width: 123px;
  height: 33px;
  left: 30px;
  top: 88%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
}

.sliderContainer .upperSlider button {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 15px;
  color: #EEF6FA;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.sliderContainer .upperSlider button:hover {
  background-color: #c4d0d6;
  color: #000000;
}

.sliderContainer .bottomSlider {
  margin: 0 auto;
}

.sliderContainer .bottomSlider .prev, .sliderContainer .bottomSlider .next {
  display: block;
  position: absolute;
  width: 36px;
  height: 53px;
  top: 50%;
}

.sliderContainer .bottomSlider .prev {
  left: 3%;
}

.sliderContainer .bottomSlider .next {
  right: 3%;
}

.sliderContainer .bottomSlider .slide {
  position: relative;
}

.sliderContainer .bottomSlider .zoomContainer {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 30%;
  z-index: 1000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0;
}

.sliderContainer .bottomSlider i {
  color: #FFFFFF;
  text-shadow: 4px 4px 4px #000000;
}

.sliderContainer .bottomSlider img {
  width: 100%;
  height: 400px;
}

.sliderContainer .bottomSlider:hover .zoomContainer {
  opacity: 1;
}

.sliderContainer .thumbnails {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  padding-left: 20px;
}

.sliderContainer .thumbnails img {
  display: inline-block;
  width: 120px;
  height: 120px;
}

.nineFortyBanner {
  height: 120px;
  margin-top: 16px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nineFortyBanner p {
  font-family: "Varela Round", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #999999;
  padding: 42px 426px 47px 426px;
}

.sixTwentyBanner {
  width: 620px;
  height: 120px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 19px;
}

.sixTwentyBanner p {
  font-family: "Varela Round", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #999999;
  padding: 41px 267px 47px 266px;
}

.smallBanners {
  width: 128px;
  height: 128px;
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallBanners p {
  font-family: "Varela Round", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
  text-align: center;
}

.mainWrapper {
  margin: 0 auto;
  width: 940px;
  margin-top: 16px;
  position: relative;
}

.mainWrapper h1 {
  padding-left: 31px;
  padding-top: 15px;
  font-family: 'Bitter', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
}

.mainWrapper h4 {
  margin-top: 6px;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  float: left;
}

.mainWrapper p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  float: left;
}

.mainWrapper a {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  float: right;
  margin-top: -20px;
  padding-right: 30px;
}

.middleSection {
  width: 940px;
  position: relative;
}

.newsTab {
  width: 620px;
  height: 325px;
  margin-top: 19px;
  background: #FFFFFF;
  border-left: 13px solid #3677B5;
}

.newsTab .row {
  width: 100%;
  height: 218px;
  padding-right: 30px;
}

.newsTab .row .column {
  float: left;
  width: 33.33%;
}

.newsTab .row .column .imageContainer {
  width: 170px;
  height: 128px;
  margin-left: 30px;
  margin-top: 30px;
}

.newsTab .row .column .imageContainer img {
  width: 100%;
  height: 100%;
}

.newsTab .row .column .captionContainer {
  width: 100%;
  height: 85px;
  margin-left: 30px;
  margin-bottom: 28px;
  clear: both;
}

.newsTab .row .column .captionContainer .commentsContainer {
  float: right;
}

.sportTab {
  width: 620px;
  height: 325px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #84C14F;
}

.sportTab .row {
  width: 100%;
  height: 218px;
  padding-right: 30px;
}

.sportTab .row .column {
  float: left;
  width: 33.33%;
}

.sportTab .row .column .imageContainer {
  width: 170px;
  height: 128px;
  margin-left: 30px;
  margin-top: 30px;
}

.sportTab .row .column .imageContainer img {
  width: 100%;
  height: 100%;
}

.sportTab .row .captionContainer {
  width: 100%;
  height: 85px;
  margin-left: 30px;
  margin-bottom: 28px;
  clear: both;
}

.businessTab {
  width: 620px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #EE6151;
}

.businessTab .row {
  width: 100%;
  height: 250px;
  margin-top: 30px;
}

.businessTab .row .column {
  width: 40%;
  margin-left: 30px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.businessTab .row .column .imageContainer {
  width: 120px;
  height: 90px;
}

.businessTab .row .column .imageContainer img {
  width: 100%;
  height: 100%;
}

.businessTab .row .column .captionContainer {
  width: 154px;
  height: 85px;
}

.newsCarousel {
  width: 620px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #FCC44D;
}

.newsCarousel #prev {
  background: url("../assets/newscarouselleftarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  float: right;
  margin-right: 14px;
  margin-top: -20px;
}

.newsCarousel #next {
  background: url("../assets/newscarouselrightarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  float: right;
  margin-right: 28px;
  margin-top: -20px;
}

.newsCarousel .row {
  width: 100%;
  height: 250px;
  margin-top: 30px;
}

.newsCarousel .row .column {
  width: 40%;
  margin-left: 30px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 260px;
      grid-template-columns: 260px 260px;
}

.newsCarousel .row .column .imageContainer {
  height: 150px;
}

.newsCarousel .row .column .imageContainer img {
  width: 100%;
  height: 100%;
}

.newsCarousel .row .column .imageContainer .captionContainer {
  margin-top: 9px;
  width: 100%;
  height: 67px;
}

.brownTabs {
  width: 303px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 293px 293px;
      grid-template-columns: 293px 293px;
  grid-gap: 23px;
}

.brownTabs .editorialsTab {
  width: 303px;
  height: 325px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #A99765;
}

.brownTabs .editorialsTab #prev {
  background: url("../assets/editorialsleftarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  float: right;
  margin-right: 14px;
  margin-top: -20px;
}

.brownTabs .editorialsTab #next {
  background: url("../assets/editorialsrightarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  float: right;
  margin-right: 28px;
  margin-top: -20px;
}

.brownTabs .editorialsTab .imageContainer {
  margin: 0 auto;
  margin-top: 30px;
  width: 230px;
  height: 150px;
}

.brownTabs .editorialsTab .imageContainer img {
  width: 100%;
  height: 100%;
}

.brownTabs .editorialsTab .captionContainer {
  margin-top: 9px;
  width: 100%;
  height: 67px;
}

.brownTabs .localNewsTab {
  width: 303px;
  height: 325px;
  margin-top: 17px;
  background: #FFFFFF;
  border-left: 13px solid #A99765;
}

.brownTabs .localNewsTab #prev {
  background: url("../assets/editorialsleftarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  float: right;
  margin-right: 14px;
  margin-top: -20px;
}

.brownTabs .localNewsTab #next {
  background: url("../assets/editorialsrightarrow.png") no-repeat;
  width: 16px;
  height: 22px;
  outline: none;
  border: none;
  float: right;
  margin-right: 28px;
  margin-top: -20px;
}

.brownTabs .localNewsTab .imageContainer {
  margin: 0 auto;
  margin-top: 30px;
  width: 230px;
  height: 150px;
}

.brownTabs .localNewsTab .imageContainer img {
  width: 100%;
  height: 100%;
}

.brownTabs .localNewsTab .captionContainer {
  margin-top: 9px;
  width: 100%;
  height: 67px;
}

.sideBars {
  width: 300px;
  right: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
}

.popular {
  width: 300px;
  height: 100%;
  background: #4D4382;
  right: 0;
  top: 0;
  margin-bottom: 25px;
}

.popular .popularHeader {
  width: 302px;
  height: 53px;
  background: rgba(0, 0, 0, 0.2);
}

.popular .popularHeader .nav-links {
  list-style: none;
  padding-top: 20px;
}

.popular .popularHeader .nav-links li {
  display: inline-block;
  padding-top: 18px;
}

.popular .popularHeader .nav-links a {
  padding-right: 20px;
  font-family: "Varela Round", serif;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: underline;
}

.popular .popularHeader .nav-links a:hover {
  color: #FCC44D;
}

.popular .popularHeader .nav-links .first {
  color: #FCC44D;
}

.popular .row {
  height: 117px;
  margin: 0;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popular .row .captionContainer {
  margin-top: 20px;
  width: 170px;
  height: 52px;
  position: relative;
}

.popular .row .captionContainer h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ACB3BA;
}

.popular .row .captionContainer p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16,8px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.popular .row .captionContainer .commentsContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.popular .row .captionContainer .commentsContainer i {
  margin-right: 2px;
}

.popular .row .imageContainer {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-right: 33px;
  top: 20px;
  right: 0;
}

.popular .row .imageContainer img {
  border: 2px solid #FFFFFF;
}

.popular .row:hover {
  background: #453C75;
}

.social {
  top: 10px;
}

.social h2 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #363F48;
  margin-bottom: 15px;
}

.social .row {
  height: 43px;
  margin: 7px 0;
}

.social .row i {
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  margin: 0 auto;
}

.social .row .facebook {
  width: 40px;
  height: 100%;
  background: #39599F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .row .twitter {
  width: 40px;
  height: 100%;
  background: #45B0E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .row .youtube {
  width: 40px;
  height: 100%;
  background: #E70031;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .row .textTab {
  width: 123px;
  height: 100%;
  background: #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 13px;
}

.social .row .textTab h2 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #363F48;
}

.social .row .socialNumbers {
  width: 137px;
  height: 100%;
  background: #4D4382;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 12px;
}

.social .row .socialNumbers p {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.86px;
  color: #FFFFFF;
  text-align: center;
}

.kenazTv {
  width: 300px;
  margin-top: 27px;
  background: #FFFFFF;
}

.kenazTv .kenazTvHeading {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.kenazTv .kenazTvHeading h2 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-left: 33px;
  color: #363F48;
}

.kenazTv .videoRow {
  height: 149px;
  background: url("../assets/video.png") no-repeat;
  margin-bottom: 10px;
}

.kenazTv .kenazTvCaption {
  height: 96px;
  position: relative;
  padding: 20px 1px 25px 32px;
  bottom: 15px;
}

.kenazTv .kenazTvCaption h3 {
  font-family: "Bitter", serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #363F48;
  padding-top: 20px;
}

.kenazTv .kenazTvCaption .date {
  position: absolute;
  top: 17px;
  left: 32px;
}

.kenazTv .kenazTvCaption .date h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #363F48;
}

.sideBanners {
  height: 167px;
  background: #DDDDDD;
  margin-top: 18px;
}

.sideBanners .bannersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 7px;
}

.facebookPosts {
  height: 556px;
  margin-top: 17px;
  background: #FFFFFF;
}

.facebookPosts .facebookImage {
  height: 521px;
  width: 270px;
  margin: 15px;
}

.newsCategory {
  width: 622px;
  background: #FFFFFF;
  margin-top: 19px;
}

.newsCategory .mainHeading {
  padding-left: 15px;
  padding-top: 15px;
}

.newsCategory h1 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.newsCategory .row {
  border-bottom: 1px solid #DDDDDD;
  padding: 0 30px;
  padding-bottom: 50px;
  margin: 0;
}

.newsCategory .heading {
  width: 500px;
  margin-top: 35px;
  margin-bottom: 16px;
}

.newsCategory h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.newsCategory .dateandauthor {
  width: 380px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsCategory .dateandauthor span {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  color: #666666;
}

.newsCategory .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsCategory .imageContainer {
  height: 130px;
  width: 170px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
}

.newsCategory img {
  width: 100%;
  height: 100%;
}

.newsCategory .textContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.newsCategory p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #444444;
  float: right;
}

.newsCategory button {
  width: 120px;
  height: 30px;
  background: #4D4382;
  padding: 8px 20px;
  color: #FFFFFF;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.newsCategory .pagination {
  margin-top: 30px;
}

.newsCategory .pagination .number {
  width: 33px;
  height: 32px;
  background: #DDDDDD;
  margin-right: 5px;
  display: table;
}

.newsCategory .pagination span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.newsCategory .pagination span:hover {
  background: #4D4382;
  cursor: pointer;
  color: #FFFFFF;
}

.singleImage {
  margin-top: 18px;
  margin-bottom: 8px;
  width: 940px;
  height: 588px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7%, #EEEEEE), color-stop(45%, rgba(255, 255, 255, 0))), url("../assets/singleimg.png");
  background-image: linear-gradient(to top, #EEEEEE 7%, rgba(255, 255, 255, 0) 45%), url("../assets/singleimg.png");
  position: relative;
}

.singleImage .singleCaption {
  height: 144px;
  position: absolute;
  left: 51px;
  bottom: 35px;
}

.singleImage .singleCaption .singleCommentsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.singleImage .singleCaption .singleCommentsContainer h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #222222;
}

.singleImage .singleCaption .singleCaptionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 751px;
}

.singleImage .singleCaption .singleCaptionContainer h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52.8px;
  color: #222222;
}

.singleCategory {
  width: 620px;
  height: 953px;
  background: #FFFFFF;
}

.singleCategory .paragraph {
  width: 572px;
  padding: 30px 20px;
}

.singleCategory .paragraph p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.singleCategory .paragraphImage img {
  width: 100%;
  height: 100%;
}

.singleCategory .singleSocials {
  margin-top: 44px;
  width: 607px;
  height: 42px;
}

.aboutTheAuthor {
  margin-top: 16px;
  background: #FFFFFF;
  width: 620px;
}

.aboutTheAuthor .row {
  padding: 30px;
  padding-top: 0;
  width: 100%;
  margin: 0;
}

.aboutTheAuthor .row .heading {
  margin-top: 35px;
  margin-bottom: 15px;
}

.aboutTheAuthor .row h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.aboutTheAuthor .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutTheAuthor .content .imageContainer {
  height: 110px;
  width: 110px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
}

.aboutTheAuthor .content img {
  width: 100%;
  height: 100%;
}

.aboutTheAuthor .content .textContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.aboutTheAuthor .content p {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.comments {
  margin-top: 16px;
  background: #FFFFFF;
  width: 620px;
}

.comments .row {
  padding: 30px;
  padding-top: 0;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
}

.comments .row .heading {
  margin-top: 30px;
  margin-bottom: 15px;
}

.comments .row .heading h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.comments .row .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comments .row .comment .userImageContainer {
  width: 57px;
  height: 58px;
  border: 1px solid #CCCCCC;
}

.comments .row .comment .userImageContainer .imageBackground {
  margin: 2px;
  background: #CCCCCC;
  width: 50px;
  height: 50px;
}

.comments .row .comment .userImageContainer .imageBackground img {
  padding-bottom: 0;
  padding-top: 7px;
  width: 100%;
  height: 100%;
}

.comments .row .commentContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.comments .row .commentContent .user {
  width: 502px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-bottom: 5px;
}

.comments .row .commentContent .user .reply {
  position: absolute;
  right: 30px;
  margin-bottom: 5px;
}

.comments .row .commentContent .user h3 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #4D4382;
}

.comments .row .commentContent .user h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: #666666;
  padding-left: 10px;
}

.comments .row .commentContent .user span {
  color: #4D4382;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.comments .row .commentContent .usersComment {
  width: 502px;
}

.comments .row .commentContent .usersComment p {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.comments .row .addCommentText p {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.comments form input, .comments form textarea {
  margin-bottom: 8px;
  background: #DDDDDD;
  color: #666666;
}

.comments form input::-webkit-input-placeholder, .comments form textarea::-webkit-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.comments form input:-ms-input-placeholder, .comments form textarea:-ms-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.comments form input::-ms-input-placeholder, .comments form textarea::-ms-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.comments form input::placeholder, .comments form textarea::placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666666;
}

.comments form input {
  width: 50%;
}

.comments form button {
  margin-top: 18px;
  width: 153px;
  height: 53px;
  background: #4D4382;
  border: none;
}

footer {
  height: 992px;
  border-top: 23px solid #4D4382;
  margin-top: 19px;
  background: #252525;
}

footer h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #CCCCCC;
}

footer .footerContentContainer {
  width: 940px;
  margin: 0 auto;
}

footer .footerContentContainer .upperFooterContainer {
  margin-top: 50px;
  height: 735px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  grid-gap: 23px;
}

footer .footerContentContainer .upperFooterContainer .kenaz {
  height: 174px;
}

footer .footerContentContainer .upperFooterContainer .footerLogo {
  position: absolute;
  width: 28px;
  height: 43px;
  background: url("../assets/footerLogo.png") no-repeat;
}

footer .footerContentContainer .upperFooterContainer .footerHeading {
  position: absolute;
  color: #45B0E3;
  margin-left: 48px;
}

footer .footerContentContainer .upperFooterContainer .footerHeading h2 {
  font-family: "Bitter", serif;
  font-weight: normal;
  font-size: 29.623px;
  line-height: 52px;
  color: #45B0E3;
}

footer .footerContentContainer .upperFooterContainer .kenazText {
  width: 303px;
  height: 40px;
  margin-top: 60px;
}

footer .footerContentContainer .upperFooterContainer p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}

footer .footerContentContainer .upperFooterContainer .socials {
  margin-top: 17px;
}

footer .footerContentContainer .upperFooterContainer i {
  width: 18px;
  height: 18px;
  color: #FFFFFF;
  padding: 10px;
}

footer .footerContentContainer .upperFooterContainer .rss {
  width: 38px;
  height: 38px;
  background: #F8BC2E;
  display: inline-block;
}

footer .footerContentContainer .upperFooterContainer .facebook {
  width: 38px;
  height: 38px;
  background: #39599F;
  display: inline-block;
}

footer .footerContentContainer .upperFooterContainer .twitter {
  width: 38px;
  height: 38px;
  background: #45B0E3;
  display: inline-block;
}

footer .footerContentContainer .upperFooterContainer .dribble {
  width: 38px;
  height: 38px;
  background: #D97AA5;
  display: inline-block;
}

footer .footerContentContainer .upperFooterContainer .linkedin {
  width: 38px;
  height: 38px;
  background: #65B7D2;
  display: inline-block;
}

footer .footerContentContainer .upperFooterContainer .youtube {
  width: 38px;
  height: 38px;
  background: #E70031;
  display: inline-block;
}

footer .footerContentContainer .upperFooterContainer .skype {
  width: 38px;
  height: 38px;
  background: #00C6FF;
  display: inline-block;
}

footer .footerContentContainer .upperFooterContainer .newsletter {
  height: 174px;
}

footer .footerContentContainer .upperFooterContainer .newsletterHeading {
  margin-top: 6px;
}

footer .footerContentContainer .upperFooterContainer .newsletterText {
  margin-top: 25px;
}

footer .footerContentContainer .upperFooterContainer p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}

footer .footerContentContainer .upperFooterContainer .text {
  width: 190px;
}

footer .footerContentContainer .upperFooterContainer .email {
  background: #333333;
  padding: 15px 70px 20px 20px;
  border: none;
  color: #FFFFFF;
}

footer .footerContentContainer .upperFooterContainer .email::-webkit-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

footer .footerContentContainer .upperFooterContainer .email:-ms-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

footer .footerContentContainer .upperFooterContainer .email::-ms-input-placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

footer .footerContentContainer .upperFooterContainer .email::placeholder {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

footer .footerContentContainer .upperFooterContainer .email:focus {
  outline: none;
}

footer .footerContentContainer .upperFooterContainer .subscribeButton {
  width: 110px;
  height: 59px;
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background: #4D4382;
  border: none;
  color: #CCCCCC;
}

footer .footerContentContainer .upperFooterContainer .tagsWidget {
  height: 174px;
}

footer .footerContentContainer .upperFooterContainer .tagsWidget .tagsWidgetHeading {
  margin-top: 6px;
}

footer .footerContentContainer .upperFooterContainer .tagsWidget h2 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #CCCCCC;
}

footer .footerContentContainer .upperFooterContainer .tagsWidget .buttonTags {
  margin-top: 25px;
  width: 100%;
}

footer .footerContentContainer .upperFooterContainer .tagsWidget .buttonTags button {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  height: 28px;
  width: auto;
  padding: 5px 10px;
  background: #333333;
  color: #CCCCCC;
  margin: 1px;
  border: none;
}

footer .footerContentContainer .upperFooterContainer .tagsWidget .buttonTags button:hover {
  background: #4D4382;
}

footer .footerContentContainer .upperFooterContainer .featured, footer .footerContentContainer .upperFooterContainer .randomPosts {
  height: 364px;
}

footer .footerContentContainer .upperFooterContainer .featured .row, footer .footerContentContainer .upperFooterContainer .randomPosts .row {
  height: 115px;
  position: relative;
}

footer .footerContentContainer .upperFooterContainer .featured .row .captionContainer, footer .footerContentContainer .upperFooterContainer .randomPosts .row .captionContainer {
  margin-top: 25px;
  width: 214px;
  height: 52px;
  position: relative;
}

footer .footerContentContainer .upperFooterContainer .featured .row .captionContainer h4, footer .footerContentContainer .upperFooterContainer .randomPosts .row .captionContainer h4 {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #666666;
}

footer .footerContentContainer .upperFooterContainer .featured .row .captionContainer .commentsContainer, footer .footerContentContainer .upperFooterContainer .randomPosts .row .captionContainer .commentsContainer {
  position: absolute;
  top: 0px;
  right: 14px;
}

footer .footerContentContainer .upperFooterContainer .featured .row .captionContainer p, footer .footerContentContainer .upperFooterContainer .randomPosts .row .captionContainer p {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #CCCCCC;
}

footer .footerContentContainer .upperFooterContainer .featured .row .imageContainer, footer .footerContentContainer .upperFooterContainer .randomPosts .row .imageContainer {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 20px;
  left: 220px;
}

footer .footerContentContainer .upperFooterContainer .featured .row .imageContainer img, footer .footerContentContainer .upperFooterContainer .randomPosts .row .imageContainer img {
  border: 2px solid #FFFFFF;
}

footer .footerContentContainer .upperFooterContainer .featured hr, footer .footerContentContainer .upperFooterContainer .randomPosts hr {
  width: 303px;
  height: 2px;
  margin-top: 41px;
  margin-left: 12px;
  margin-right: 12px;
  background: #666666;
  opacity: 0.2;
}

footer .footerContentContainer .upperFooterContainer .twitterFeed {
  height: 364px;
}

footer .footerContentContainer .upperFooterContainer .twitterFeed .row {
  height: 115px;
  position: relative;
  margin: 0;
}

footer .footerContentContainer .upperFooterContainer .twitterFeed .row .captionContainer {
  margin-top: 15px;
  height: 54px;
  position: relative;
  display: inline;
  padding: 0;
}

footer .footerContentContainer .upperFooterContainer .twitterFeed .row .captionContainer i {
  width: 24px;
  height: 18px;
  color: #45B0E3;
  margin: 0;
  padding: 0;
  display: inline;
}

footer .footerContentContainer .upperFooterContainer .twitterFeed .row .captionContainer h4 {
  font-family: "Bitter", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin: 0;
  padding: 0;
  display: inline;
  margin-left: 4px;
}

footer .footerContentContainer .upperFooterContainer .twitterFeed .row .captionContainer p {
  font-family: "Varela Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #CCCCCC;
}

footer .footerContentContainer .bottomHr {
  height: 2px;
  background: #666666;
  margin: 0;
  padding: 0;
  width: 200%;
  margin-left: -50%;
}

footer .footerContentContainer .lowerFooterContainer {
  height: 36px;
  margin-top: 18px;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */